{% extends "index.html" %}

{% block content %}
  <h1>Создать пост</h1>
  <hr>
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.title.id_for_label }}">Заголовок</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label for="{{ form.body.id_for_label }}">Текст</label>
      {{ form.body }}
    </div>
    <div class="form-group">
      <label for="{{ form.category.id_for_label }}">Категории</label>
      {{ form.category }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
{% endblock content %}